/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0; /* eliminate 10px defaul margin */
  background-color: #45badd;
}
h1 {
  text-align: center;
  color: white;
}

.container {
  width: 100vw; /* dynamic scale */
  height: 100vh; /* dynamic scale */
  margin-top: -7rem;
  display: flex;
  flex-direction: column; /* align two items top / bottom */
  justify-content: center; /* align horizontally*/
  align-items: center; /* align vertically */
  background: url(./robot.gif);
  background-size: contain;
  background-position: left center; /* image slightly left center */
  background-repeat: no-repeat; /* image once only */
}
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  filter: brightness(85%)
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: default;
  filter: brightness(30%);
}
.joke-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  margin: -7em auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.hide {
  display: none;
}
/* Media queries for tablet or smaller*/

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }

}

